/* commun */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway Regular', sans-serif;
	margin: 0;
	color: white;
}

.nav img{
	margin: auto 0;
}

.nav img:first-child{
	height: 70px;
}

.nav img:last-child{
	width: 200px;
}

.nav{
	background-color:white;
	position:fixed;
	top: 0;
	padding: 5px 7% 5px 13%;
	display:flex;
	justify-content:space-between;
	width:80%;
	height:90px;
	z-index:7000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


nav{
	margin: auto 0;
    width: 100%;
	text-align: center;
}

button{
	color: white;
	border-color: red;
	text-transform: uppercase;
	padding:1em 2em;
	border-radius:10px;
	background-color:red;
	font-weight:bold;
	margin: 0 5%;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}	

button:hover{
	background-color:white;
	color:black;
	cursor:pointer;
    transform: translate(0px,2px);
    -webkit-transform: translate(0px,2px);
    border-bottom: 1px solid;
}

footer{
	width: 90%;
	height: 40px;
	padding: 20px 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-content-right{
	float: right;
}

footer img{
	width: 40px;
}


/* Accueil */

.background{
	background-image:url("../images/Image_arriere_plan_moins_foncée.jpg");
	background-attachment:fixed;
	background-size:cover;
	background-position: 10% 0;
	background-repeat:no-repeat;
	margin: 0;
}

.titre{
	margin-top:100px;
	padding: 75px 0;
	height:200px;
	text-align: center;
	text-shadow: 0.3em 0em 0.2em black;
	letter-spacing: 2px;
	font-weight: 10;
}

.titre h2{
    	padding: 0em 10em 6em;
}

.titresection1{
	font-size:50px;
}

.titreoffre{
	display: flex;
	flex-direction: column;
	text-shadow: 0.3em 0em 0.2em black;
    margin-left: 70%;
	letter-spacing: 2px;
	font-weight: 10;
	text-align:center;
}

.titresection2{
	font-size:30px;
}

.abonnements{
	display: flex;
   	color: black;
	flex-wrap: wrap;
}

#offre{
    border-radius:12px 12px 12px 12px;
	position: relative;
   	background-color: white;
    margin: 1%;
    padding: 2%;
	width: 19%;
	min-width: 230px;
    min-height:25em;
	text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 1px 9px 20px 9px rgba(0, 0, 0, 0.19);
}

.nom{
    color: grey;
	font-size:100%;
}

.programme{
	margin: 0em 0em 3em 0em;
	font-size:150%;
}

.details{
	font-size: 120%;
	margin:15px;
	text-align:center;
}

.prix{
	font-size:160%;
}



/* Carte */
.cartestation{
	background-color:white;
	margin-top:100px;
	width:100%;
	display:flex;
}


aside{
	width:22%;
	background-color:#272727;
}

aside button{
	margin: 1em auto;
	width:100%;
}

.recherche{
	padding:1%;
	width:20%;
	min-width: 240px;
	position: fixed;
	background-color: #272727;
	z-index:7000;
}

.recherche fieldset p{
	margin-block-end: 0;
}

.recherche p:first-child{
	margin-block-start: 0;
}

#erreurstat {
	color:red;
	display:none;
}

#aideselstat{
	color:grey;
	display:inline;
	margin-block-start: 0;
}

#selectstation{
	max-height:200px;
	overflow-y:scroll;
}

.cartegraph {
	display: flex; 
	flex-direction: column;
	width: 78%; 
}


#map { 
	width: 100%;
	height:620px;
}

#arrondissements{
	background-color: #272727;
	padding:1%;
    display: flex;
    flex-wrap: wrap;
}

#arrondissements button{
	width: 14%;
	min-width: 120px;
    margin: 1.3%;
    padding: 10px 5px;
}

#arrondissements button:hover{
	background-color:red;
}

#graphe img {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Responsive */

@media (max-width: 1200px) {
	
	.cartegraph { 
		width: 70%; 
	}

	aside{
		width:30%;
	}
	
	.recherche{
		padding:2%;
		width:26%;
	}
}


@media (max-width: 950px) {
	
	.cartestation{
		flex-direction: column-reverse;
	}
	
	.cartegraph { 
		width: 100%; 
	}


	#selectstation{
		max-height:150px;
	}

	aside{
		width:100%;
		height: fit-content;
	}
	
	.recherche{
		width:96%;
		position:relative;
	}
}
