/* fond de page */
body {
	font-family: Trebuchet MS, sans-serif;
	background-image: url('../images/logo_velov.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	margin: 0;
}

header img:first-child{
	width: 10%;
}

header img:last-child{
	width: 35%;
}

header{
	background-color:white;
	background-attachment:fixed;
	border-bottom: 3px solid rgba(255,255,255,0.6);
	padding: 15px 10%;
	display:flex;
	justify-content:space-between;
	height:10%;
}

nav{
	margin:auto 0;
}

nav button{
	margin: 0 25px;
}	

#erreurstat {
	color:red;
	display:none;
}

#map { 
	height: 400px; 
	width: 400px; 
	float:left; 
	margin-left:20px; 
	margin-right:20px;
}