/* fond de page */
body {
	font-family: 'Arial Black', Gadget, sans-serif;
	margin: 0;
}

.background{
	background-image:url("../images/Image_arriere_plan.jpg");
	background-attachment:fixed;
	background-size:cover;
	background-position: 10% 0;
	background-repeat:no-repeat;
	margin: 0;
}

.nav img:first-child{
	height: 80px;
}

.nav img:last-child{
	height:40px;
	margin:auto -4em;
}

.nav{
	background-color:white;
	position:fixed;
	top: 0;
	border-bottom: 3px solid rgba(255,255,255,0.6);
	padding: 5px 10%;
	display:flex;
	justify-content:space-between;
	width:80%;
	height:90px;
	z-index:7000;
}

.titre{
	padding-top:100px;
	height:500px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px black;
	letter-spacing: 2px;
	font-weight: 10;
}

.cartestation{
	background-color:white;
	margin:0 auto;
	margin-top:100px;
	width:100%;
	display:flex;
}

nav{
	margin:auto 0;
}

nav button{
	border-radius:12px 0 12px 0;
        border-color: red;
	padding:1em 2em 1em 2em;
	border-radius:10px;
	background:white;
	font:bold 13px Arial;
	color:black;
	margin: 0 25px;
}	

aside{
	width:22%;
	background-color:#272727; 
	height:1200px;
}

.recherche{
	padding:1%;
	color:white;
	width:20%;
	position: fixed;
}

#erreurstat {
	color:red;
	display:none;
}

#selectstation{
	max-height:300px;
	overflow-y:scroll;
}

#map { 
	width: 78%; 
	height:620px;
}

.abonnements{
	display: flex;
   	color: black;
	margin:15px
}

#offre{
	position: relative;
   	background: white;
	margin:25px;
	width:25%
}


.nom{
	font-family: 'Alice';
        text-shadow: 0px 0px 0px black;
}


@media (max-width: 1100px) {
	
	.cartestation{
		flex-direction: column-reverse;
	}
	
	#map { 
		width: 100%; 
		height:400px;
	}

	#selectstation{
		max-height:150px;
	}

	aside{
		width:100%;
		max-height:400px;
		height: fit-content;
	}
	
	.recherche{
		padding:2%;
		width:96%;
		position:relative;
	}
}